/* PORTFOLIO flex-box*/

#gallery {
    padding-top: 32px;
    column-count: 3;
    flex-direction: row;
    justify-content: space-evenly;
}

#gallery > .img {
    flex: 1 1 200px;
}

@media (max-width: 800px) {
    #gallery {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery {
        column-count: 1;
    }
}

#gallery .img {
    display: block;
    position: relative;
    min-height: 150px;
    height: 100%;
    width: 100%;
    object-fit: cover !important;
    overflow: hidden;
    margin: 10px
}

#gallery img {
    width: 100%;
    height: auto;
}